/* flex兼容布局*/
/* flex display*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* flex-shrink: 0。不缩小，默认值为1*/
.flex-no-shrink {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
/* flex-grow: 1。有空余时放大，默认为0*/
.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
/* flex-direction: column。竖向排列，默认为横向排列*/
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* justify-content。主轴对齐方式*/
.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-ustify-content: center;
  justify-content: center;
}
.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-ustify-content: flex-end;
  justify-content: flex-start;
}
.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-ustify-content: flex-end;
  justify-content: flex-end;
}
.justify-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.justify-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
/* align-items。交叉轴对齐方式*/
.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
.align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
}
.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}
.align-baseline {

  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -ms-grid-row-align: baseline;
  align-items: baseline;
}
.align-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch;
}
